body{
	background-image: url("../images/blue2.jpg");
	background-size: 1250px;
}

h1{
	font-size: 50px;
	font-family: "Sedgwick Ave", cursive;
	text-align: center;
	color: #ffffff;
}

.villains-img{
	margin: 10px;
}

.btn{
	color: #ffffff;
	margin: 15px;
	font-family: "Noto Serif", serif;
}

.btn-primary {
    color: #fff;
    background-color: #8468a3;
    border-color: #8468a3;;
}


.btn-primary:hover {
    color: #fff;
    background-color: #8468a3;;
    border-color: #8468a3;;
}

p{
	color: #ffffff;
	font-family: "Noto Serif", serif;

}


.mainArea{
	background-color: rgba(132, 104, 163, 0.5);

}