body{
	background-image: url("../images/dark-triangles.png");
}

h1{
	font-size: 45px;
	font-family: "Sedgwick Ave", Times, serif;
	text-align: center;
	color: #ffffff;
}

.btn{
	color: #ffffff;
	margin: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #a366ff;
    border-color: #a366ff;;
}


.btn-primary:hover {
    color: #fff;
    background-color: #a366ff;;
    border-color: #a366ff;;
}

p{
	color: #ffffff;
}